/* general */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background: #fafbfc;
  color: #2e3d49;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  line-height: 1.5;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* main page */

.list-books-title {
  padding: 5px 0;
  background: #615240;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.list-books-title h1 {
  font-size: 1.9em;
  font-weight: 900;
  margin: 0;
  color: rgba(255, 255, 255, 0.22);
}

.list-books-title h1 span {
  text-decoration: underline
}

.list-books-content {
  padding: 50px 15%;
  flex: 1;
}

@media (max-width: 960px) {
  .list-books-content {
    padding: 50px 10%;
  }
}

.bookshelf {
  margin: 0 10px 20px;
  position: relative;
}

@media (min-width: 600px) {
  .bookshelf {
    margin: 0 20px 100px;
  }
}

.bookshelf-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.bookshelf-books {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 10px 21px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 100px;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(130, 124, 118, 0.95);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  border-bottom: 1px solid rgba(213, 216, 223, 0.73);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
}
.search-books-input-wrapper {
  flex: 1;
}
.search-books-bar input {
  width: 100%;
  padding: 16px 10px;
  font-size: 1.1em;
  border: none;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
  opacity: 0.6;
  font-weight: 500;
}

.search-not-found {
  text-align: center;
  padding-top: 100px;
}

.close-search {
  display: block;
  cursor: pointer;
  top: 20px;
  left: 15px;
  width: 60px;
  height: 60px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  opacity: 0.5;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 0px 25px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 20px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(130, 124, 118, 0.95);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.is-loading-shelf {
  font-size: 0;
  background-image: url('./icons/loading-icon-shelf.svg');
  background-repeat: no-repeat;
  background-size: 39vw;
  background-position: center;
  width: 100%;
  height: 300px;
}

 @media(max-width: 1300px) {
  .is-loading-shelf {
    background-size: 35vw;
    background-image: url('./icons/loading-icon-shelf-1300.svg');
  }
}


@media(max-width: 800px) {
  .is-loading-shelf {
    background-size: 25vw;
    background-image: url('./icons/loading-icon-shelf-800.svg');
  }
} 


@media(max-width: 500px) {
  .is-loading-shelf {
    background-size: 30vw;
  }
} 

.shelf-empty-message {
  padding: 60px 0px;  
  font-size: 1.6em;
  text-align: center;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  cursor: pointer;
  transition: 0.4s transform ease-out;
}

.book-cover:hover {
  transform: scale(1.03);
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.fork-me-ribbon {
  background-image: url('./icons/fork-me-ribbon.svg');
  width: 100px;
  height: 100px;
  right: 0;
  top: 0px;
  position: absolute;
}

/* shelf change loader  */
.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.loading-bar {
  animation-name: horizontalProgressBar;
  animation-timing-function: ease-in; 
  background: rgba(130, 124, 118, 0.95);;
  height: 3px;
  width: 3px;
  left: 0;
  position: absolute;
  bottom: 0;
  z-index: 9999;
}

@keyframes horizontalProgressBar
{
  0%   {width: 0%;}
  25%  {width: 22%;}
  50%  {width: 55%;}
  75%  {width: 83%;}
  100% {width:100%;}
}

/* Book Detail  */

.book-detail {
  overflow-y: hidden;
}

.book-detail-book {
  margin-bottom: 30px;
}

.book-detail-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 750px;
  margin: 200px auto 0px;
  background: #fff;
  border-radius: 5px;
  padding: 50px 35px;
  justify-content: space-around;
  box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.12);
}

.top-container-fixed-bar {
  position: fixed;
  width: 100%;
  top: 0;
  padding-right: 8%;
  background-color: #fff;
  border-bottom: 1px solid rgba(213, 216, 223, 0.73);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
  display: flex;
}

.book-detail-description {
  max-width: 450px;
  text-align: justify;
  position: relative;
  height: 8.6em;
  overflow-y: hidden;
}

.book-detail-description:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.book-detail-meta a,
.book-detail-meta span {
  text-transform: uppercase;
  font-size: 0.73em;
  color: #939aa0;
  margin-left: 20px;
}

.book-detail-meta span:nth-child(1) {
  margin-left: 0px;
}

/* Book Detail Shelf Status Buttons */

.book-detail-shelf-status {
  list-style-type: none;
  margin: 25px 0 0 0;
  display: block;
}

.book-detail-shelf-status li {
  float: left;
  margin: 0 20px 0 0;
  width: 100px;
  text-align: center;
  height: 40px;
  color: #939aa0;
  position: relative;
}

@media(max-width: 550px) {
  .book-detail-shelf-status li {
    text-align: center;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 10%;
  }
}

.book-detail-shelf-status label:hover {
  background: #999b9c;
  color: #FFF;
}

.book-detail-shelf-status label {
  padding: 5px;
  border: 1px solid #a7adb2;
  border-radius: 5px;
  cursor: pointer;
  z-index: 90;
}

.book-detail-shelf-status label, 
.book-detail-shelf-status input {
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.book-detail-shelf-status input[type="radio"] {
 opacity :0.01;
 z-index: 100;
}

.book-detail-shelf-status input[type="radio"]:checked + label {
  background: rgba(46, 61, 73, 0.96);
  color: #FFF;
  border: 1px solid rgba(46, 61, 73, 0.96);
}

.book-detail-container .book-cover:hover {
  transform: none;
  cursor: default;
}


/* Top Container */

.back-button {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  opacity: 0.4;
}

.top-container-text {
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: 1.1rem;
  opacity: 0.6;
}

.top-container-text span {
  font-size: 0.85rem;
  opacity: 0.5;
  margin-left: 6px;
}